<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active">Inventory</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li ngbDropdown class="nav-item">
        <a href (click)="false" class="nav-link" ngbDropdownToggle>Nav</a>
        <div ngbDropdownMenu>
          <button ngbDropdownItem [routerLink]="['/portal']" routerLinkActive="router-link-active" >Admin</button>
          <button ngbDropdownItem [routerLink]="['/settings']" routerLinkActive="router-link-active" >Center</button>
          <button ngbDropdownItem [routerLink]="['/volunteer']" routerLinkActive="router-link-active" >Volunteer</button>
          <button ngbDropdownItem [routerLink]="['/inventory']">Inventory</button>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem>Covid status India</button>
        </div>
      </li>

      <!-- <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/settings']" routerLinkActive="router-link-active">Center Settings <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
      <li ngbDropdown class="nav-item">
        <a href (click)="false" class="nav-link" ngbDropdownToggle>Action Items</a>
        <div ngbDropdownMenu>
          <button ngbDropdownItem>Add New Volunteer</button>
          <button ngbDropdownItem>Add New Center</button>
          <button ngbDropdownItem>Something else here</button>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem>Covid status India</button>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/portal']" routerLinkActive="router-link-active">Admin Portal</a>
      </li> -->
    </ul>
    <button class="btn btn-outline-primary my-2 my-sm-0" type="button" [routerLink]="['/login']"
      routerLinkActive="router-link-active">Login</button>

  </div>
</nav>
